<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sdk.adv" >


    <!--必须要有的权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <!--最好能提供的权限-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 如果有视频相关的广告且使用textureView播放，请务必添加，否则黑屏 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- LKVideoSDK需要的权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>


    <application
        android:usesCleartextTraffic="true"
        >
        <!-- 穿山甲相关 -->
        <provider
            android:name="com.bytedance.sdk.openadsdk.TTFileProvider"
            android:authorities="${applicationId}.TTFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <provider
            android:name="com.bytedance.sdk.openadsdk.multipro.TTMultiProvider"
            android:authorities="${applicationId}.TTMultiProvider"
            android:exported="false" />

        <!--广点通相关-->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <service android:name="com.qq.e.comm.DownloadService"
            android:exported="false" />
        <activity android:name="com.qq.e.ads.ADActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <activity android:name="com.qq.e.ads.PortraitADActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <activity android:name="com.qq.e.ads.LandscapeADActivity"
            android:screenOrientation="landscape"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />

        <!-- LKVideoSDK 组件声明start -->
        <activity
            android:name="com.lkvideo.sdk.ui.LKActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.lkvideo.sdk.ui.LKVideoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.lkvideo.sdk.ui.LKCancelActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/KDDownCancelDialog" />

        <!--<provider
            android:name="com.lkvideo.sdk.utils.LKFileProvider"
            android:authorities="${applicationId}.fclkfileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            &lt;!&ndash;<meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/kd_file_paths" />  &ndash;&gt;
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>-->
        <service
            android:name="com.lkvideo.sdk.utils.DownloadService"
            android:exported="false"/>

        <!-- LKVideoSDK 组件声明end -->

        <!--精众SDK-->
        <provider android:name="com.ssp.sdk.platform.utils.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <!--<activity android:name="com.ssp.sdk.platform.ui.MActivity"/>-->

            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"/>
        <activity  android:name="com.ssp.sdk.platform.show.ActivityVideo"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <service android:name="com.ssp.sdk.platform.service.MService" />



    </application>
</manifest>
